- if options[:label]

  %label=options[:label]

- if options[:type] == :dropdown

  %select{"#{model_binding}" => input_key,
    id: component_id,
    ref: "select.#{attr_key}",
    class: options[:class],
    "@change": "inputChanged(\"#{attr_key}\")",
    "init-value": init_value,
    "value-type": options_type}
    %option{disabled: true}= options[:placeholder]
    - if options[:options].is_a?(Hash)
      - options[:options].each do |key, value|
        %option{value: key}=value
    - if options[:options].is_a?(Array)
      - options[:options].each do |option|
        %option{value: option}=option
  %span{class: "errors", "v-if": error_key }
    %span{class: "error", "v-for": "error in  #{error_key}"}
      {{ error }}

- if options[:type] == :checkbox

  %div{id: component_id, ref: "select.multiple.#{attr_key}", "init-value": init_value}
    - if options[:options].is_a?(Hash)
      - options[:options].each do |key, value|
        %input{type: :checkbox,
        "#{model_binding}": input_key,
        "@change": "inputChanged(\"#{attr_key}\")",
        "value-type": options_type,
        name: value,
        value: key}/
        %label=value
    - if options[:options].is_a?(Array)
      - options[:options].each do |value|
        %input{type: :checkbox,
        "#{model_binding}": input_key,
        "@change": "inputChanged(\"#{attr_key}\")",
        "value-type": options_type,
        name: value,
        value: value}/
        %label=value
  %span{class: "errors", "v-if": error_key }
    %span{class: "error", "v-for": "error in  #{error_key}"}
      {{ error }}

- if options[:type] == :radio

  %div{id: component_id, ref: "select.#{attr_key}", "init-value": init_value}
    - if options[:options].is_a?(Hash)
      - options[:options].each do |key, value|
        %input{type: :radio,
        "#{model_binding}": input_key,
        "@change": "inputChanged(\"#{attr_key}\")",
        "value-type": options_type,
        name: value,
        value: key}/
        %label=value
    - if options[:options].is_a?(Array)
      - options[:options].each do |value|
        %input{type: :radio,
        "#{model_binding}": input_key,
        "@change": "inputChanged(\"#{attr_key}\")",
        "value-type": options_type,
        name: value,
        value: value}/
        %label=value
  %span{class: "errors", "v-if": error_key }
    %span{class: "error", "v-for": "error in  #{error_key}"}
      {{ error }}
