- case size
- when 1
  %h1{@tag_attributes}
    - if text.blank?
      - if block_given?
        = yield
    - else
      = text
- when 2
  %h2{@tag_attributes}
    - if text.blank?
      - if block_given?
        = yield
    - else
      = text
- when 3
  %h3{@tag_attributes}
    - if text.blank?
      - if block_given?
        = yield
    - else
      = text
- when 4
  %h4{@tag_attributes}
    - if text.blank?
      - if block_given?
        = yield
    - else
      = text
- when 5
  %h5{@tag_attributes}
    - if text.blank?
      - if block_given?
        = yield
    - else
      = text
- when 6
  %h6{@tag_attributes}
    - if text.blank?
      - if block_given?
        = yield
    - else
      = text
- else
  %h1{@tag_attributes}
    - if text.blank?
      - if block_given?
        = yield
    - else
      = text
