- if label
  %label=label

- if [:text, :number, :email, :date, :password].include?(type)
  %input{ @tag_attributes,
    "v-model#{'.number' if type == :number}": input_key,
    type: type,
    "@change": "inputChanged(\"#{attr_key}\")",
    ref: "input.#{attr_key}",
    placeholder: placeholder,
    "init-value": init_value }

- if type == :textarea
  %textarea{ @tag_attributes,
    "v-model": input_key,
    "@change": "inputChanged(\"#{attr_key}\")",
    ref: "input.#{attr_key}",
    placeholder: placeholder,
    "init-value": init_value,
    rows: options[:rows],
    cols: options[:cols] }

- if type == :range
  %input{ @tag_attributes,
    "v-model": input_key,
    type: :range,
    "@change": "inputChanged(\"#{attr_key}\")",
    ref: "input.#{attr_key}",
    placeholder: placeholder,
    "init-value": init_value,
    min: options[:min],
    max: options[:max],
    step: options[:step],
    list: options[:list] }

%span{ class: "errors", "v-if": error_key }
  %span{ class: "error", "v-for": "error in #{error_key}" }
    {{ error }}