- if options[:label]
  %label=options[:label]

- if [:text, :number, :email, :date, :password].include?(options[:type])
  %input{@tag_attributes,
    "v-model#{'.number' if options[:type] == :number}": input_key,
    type: options[:type],
    "@change": "inputChanged(\"#{attr_key}\")",
    ref: "input.#{attr_key}",
    placeholder: options[:placeholder],
    "init-value": init_value}
  %span{class: "errors", "v-if": error_key }
    %span{class: "error", "v-for": "error in  #{error_key}"}
      {{ error }}

- if options[:type] == :textarea
  %textarea{@tag_attributes,
    "v-model": input_key,
    "@change": "inputChanged(\"#{attr_key}\")",
    ref: "input.#{attr_key}",
    placeholder: options[:placeholder],
    "init-value": init_value,
    rows: options[:rows],
    cols: options[:cols]}
  %span{class: "errors", "v-if": error_key }
    %span{class: "error", "v-for": "error in  #{error_key}"}
      {{ error }}
